{% if role == 'backofficer' %}

<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="management">
        <li class="nav-item">
            <a href="/vehicle" class="nav-link align-middle px-0">
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">Phương tiện</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/mcp" class="nav-link align-middle px-0">
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">MCP</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/member" class="nav-link align-middle px-0">
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">Thành viên</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/schedule" class="nav-link align-middle px-0">
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">Lịch công việc</span>
            </a>
        </li>
        
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="assignment">
        <li class="nav-item">
            <a href="/assign-task" class="nav-link align-middle px-0">
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">Phân công việc</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/create-route" class="nav-link align-middle px-0">
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">Tạo lộ trình</span>
            </a>
        </li>        
    </ul>
</div>

{% elif role == 'janitor' %}

<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="management">
        <li class="nav-item">
            <a href="/member" class="nav-link align-middle px-0">
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">Thành viên</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/schedule" class="nav-link align-middle px-0">
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">Lịch công việc</span>
            </a>
        </li>
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="assignment">
        <li class="nav-item">
            <a href="/message" class="nav-link align-middle px-0">
                <!-- Bao gồm tin nhắn nhân viên và thông báo MCP đã đầy -->
                <i class="fa-solid fa-truck"></i><span class="ms-1 d-none d-sm-inline">Tin nhắn</span>
            </a>
        </li>
    </ul>
</div>

{% endif %}