{% set role = request.blueprint.split('.')[0][:-3] %}
<!-- {% print role %} # customer -->
{% if role in ["customer"] %}
<div class="container-fluid" style="height: 100%;">
    <nav class="navbar sticky-top navbar-light justify-content-center"
        style="border-bottom: 1px solid #cacaca;background-color: #221f1f;">
        <a class="navbar-brand text-white p-3" href="#">Exterior</a>
        <a class="navbar-brand text-white p-3" href="#">Interior</a>
        <a class="navbar-brand text-white p-3" href="#">Summary</a>
    </nav>
    <div class="row">
        <div class="col-9">
            <img src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBI&vehicle=23II&client=byo&paint=P0C1M&fabric=FSBJG&sa=S01LD,S0248,S0319,S0322,S0330,S0407,S0420,S0494,S04AA,S04NB,S05AC,S05AS,S05AZ,S05DM,S06AC,S06AK,S06C4,S06NX,S06U7,S09T8&date=20220705&angle=40&quality=65&sharp=100&resp=png&BKGND=TRANSPARENT&width=1279"
                class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-3">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="background-color: #221f1f;">
                <div class="font-weight-bold">Choose your Exterior</div>
                <ul class="nav nav-pills flex-column mb-auto mt-2   ">
                    <li class="nav-item">
                        <a href="#" class="nav-link" aria-current="page">
                            Home
                        </a>
                    </li>

            </div>
        </div>
    </div>
</div>
{% endif %}

<script>

</script>