
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col">
            <nav class="navbar sticky-top navbar-light justify-content-center" style="border-bottom: 1px solid #cacaca;background-color: #221f1f;">
                <a class="navbar-brand text-white p-3" href="#">Exterior</a>
                <a class="navbar-brand text-white p-3" href="#">Interior</a>
                <a class="navbar-brand text-white p-3" href="#">Summary</a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-9 m-0" class="img-fluid" style="background-image: url(https://media.istockphoto.com/photos/asphalt-race-track-ground-and-mountain-with-clouds-background-picture-id1142586703?b=1&k=20&m=1142586703&s=612x612&w=0&h=7KYbNdAT6EiUopf2kIP2NJ2HH-L7NsmkrAqn6ulTWB8=);background-repeat: no-repeat;background-position: center;background-size: cover;">
            <div class="row">
                <img src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBI&vehicle=23II&client=byo&paint=P0C1M&fabric=FSBJG&sa=S01LD,S0248,S0319,S0322,S0330,S0407,S0420,S0494,S04AA,S04NB,S05AC,S05AS,S05AZ,S05DM,S06AC,S06AK,S06C4,S06NX,S06U7,S09T8&date=20220705&angle=40&quality=65&sharp=100&resp=png&BKGND=TRANSPARENT&width=1279" >
            </div>
            <div class="row sticky" style="height: 100px;">
            </div>
        </div>
        <div class="col-3 m-0">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="background-color: #221f1f;">
                <div class="font-weight-bold">Choose your Exterior</div>
                <ul class="nav nav-pills flex-column mb-auto mt-2   ">
                  <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                      Home
                    </a>
                    <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>

                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                      <a href="#" class="nav-link" aria-current="page">
                        Home
                      </a>
                  </li>
                  
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="position: fixed;left: 0;bottom: 0;width: 100%;">
    <div class="row">
        <div class="col-6 m-5 text-white">
            <h6 class="">ALPINE WHITE</h6>
            <h3>Solid color that accentuates every curve and detail.</h3>
        </div>
        <div class="col-3 m-5 justify-content-center">
            <h6>MSRP AS BUILT</h6>
            <h3>$109,575</h3>
        </div>
    </div>

</div>



</script>