{% set role = request.blueprint.split('.')[0][:-3] %}


{% set model = data["car"] %}
{% set faq = data["faq"] %}
<style>
    .container-fluid{
        padding: 0;
    }
    .row{
        padding-top: 80px;
        background-size: contain;
        background-image: url("https://st.depositphotos.com/1280399/1212/i/950/depositphotos_12125270-stock-photo-white-vintage-paper-texture-grunge.jpg");
    }
    .customize-btn{
        border-radius: 0px;
        background-color: #353739;
        color: white;
        border: 1px solid #353739;
        font-weight: bold;
    }
    .customize-btn:hover{
        color: #353739;
        background-color: white;
    }
    .car-img img{
        width: 100%;
    }
    .car-img{
        width: 100%;
        padding-top: 50px;
    }

    /* .list-group-item{
        padding: 0;
    } */

</style>
<div class="row">


    <div class="col-lg-3 pl-5 pt-4 pb-4 pr-4 ml-4">
        <div class="">
            <h5 class="mt-0 font-weight-bold mb-2">{{model["series_name"]}}</h5>
            <p class="font-italic text-muted mb-0 small">{{model["title"]}}</p>
            <h6 class="font-weight-bold my-2">${{model["starting_msrp"]}}</h6>
            <ul class="list-inline small">
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
            </ul>
            <a href="/{{role}}/build?id={{model['id']}}">
                <input class="btn customize-btn mt-2 pl-4 pr-4"  value="Customize This Build">
            </a>
        </div>
    </div> 
    <div class="col-lg-6 car-img">
        <img src='{{model["img_url"]}}' alt="Car image" width="200" class="ml-lg-5 order-1 order-lg-2">
        <form action="{{request.path}}" method="get" style="text-align:center">
            {% set req = request.args.to_dict()%}
            <input type="hidden" name="id" value="{{req['id']}}">
            <input type="range" id="angle" class="form-range" name="angle" min="0" max="180" value="{{req['angle']}}" step="10"
            onchange="this.form.submit()">
            <label for="angle">3D car</label>
        </form>
    </div><!-- End -->
    <div class="col-lg-2 pl-5">
        <h1 class="font-weight-light">DESIGN YOUR {{model["series_name"]}}</h3>
    </div><!-- End -->

    <div class="row ml-4">
        {% for i in range(0, faq|length) %}
            <div class="col-lg-4 pl-5 pr-5 pb-5">
                <h5 class="font-weight-bold">{{faq[i]["question"]}}</h5>
                <p class="text-justify font-italic">{{faq[i]["answer"]}}</p>
            </div>
        {% endfor %}
    </div>


</div>

