{% set role = request.blueprint[:-3] %}

{% if role in ["manager"] %}

<div class="row">
    {% for i in range(0, 3) %}
    <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="card">
            {% for j in range(0, data|length) %}
            {% if j % 3 == i %}
            <form action="/model" method="post" id="{{data[j]['id']}}">
                <img src="http://drive.google.com/uc?export=view&id={{data[j]['model_urlImage']}}"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                <input class="form-control form-control-sm" type="text" value="{{data[j]['model_urlImage']}}"
                    name="model_urlImage">
                <div class="card-body">
                    <input class="form-control form-control-sm" type="hidden" name="id" value="{{data[j]['id']}}">
                    <input class="form-control form-control-sm" type="hidden" name="request" value="update">
                    <input class="form-control form-control-lg" type="text" value="{{data[j]['model_name']}}"
                        name="model_name">
                    <input class="form-control" type="text" value="{{data[j]['model_description']}}"
                        name="model_description">
                    <input type="submit" style="margin: 10px;" class="btn btn-primary btn-sm" form="{{data[j]['id']}}"
                        value="Lưu">
                </div>
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <button style="margin: 0 auto;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModelBoard" data-whatever="@mdo">Thêm mẫu ô tô</button>
</div>

<div class="modal fade" id="addModelBoard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mẫu mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/model" method="post" id="addModel">
                    <div class="form-group">
                        <label for="new_id" class="col-form-label">model id:</label>
                        <input type="text" class="form-control" id="new_id" name="new_id">
                    </div>
                    <div class="form-group">
                        <label for="new_model_urlImage" class="col-form-label">url id:</label>
                        <input type="text" class="form-control" id="new_model_urlImage" name="new_model_urlImage">
                    </div>
                    <div class="form-group">
                        <label for="new_model_name" class="col-form-label">Tên mẫu: </label>
                        <input type="text" class="form-control" id="new_model_name" name="new_model_name">
                    </div>
                    <div class="form-group">
                        <label for="new_model_description" class="col-form-label">Mô tả:</label>
                        <textarea class="form-control" id="new_model_description" name="new_model_description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <input type="submit" class="btn btn-primary" form="addModel" value="Thêm mới">
            </div>
        </div>
    </div>
</div>

{% endif %}

<!-- {% print role %} # customer -->
{% if role == "customer" %}
{% set models = data["models"] %}
<style>
    .container-fluid{
        padding: 0;
    }
    .list-group-item{
        background-color: rgb(242, 242, 242);
        transition: 0.5s;
    }
    .list-group-item:hover{
        background-color: white;
    }
    .select-btn{
        border-radius: 0px;
        background-color: #1c69d3;
        color: white;
        border: 1px solid #1c69d3;
        font-weight: bold;
    }
    .select-btn:hover{
        color: #1c69d3;
        background-color: white;
    }
    .car-img img{
        width: 100%;
    }
    .car-img{
        transition: background-image 1s;

    }
    .bg{
        width: 90%;
        height: 100%;
        position:absolute;
        left: 0;
        top:0;
        opacity: 0;
        transition: all 0.9s ease ;
        z-index: -1;
    }
    .list-group-item{
        padding: 0;
    }
</style>
<!-- <div class="row fluid-width">
    <div class="col-lg-12 mx-auto"> -->
        <!-- List group-->
    <ul class="list-group shadow">
            <!-- list group item-->
        {% for i in range(0, models|length) %}
        <li class="list-group-item">
            <!-- Custom content-->
            <div class="row">
                <div class="col-lg-5 pl-5 pt-4 pb-4 pr-4">
                    <div class="">
                        <h5 class="mt-0 font-weight-bold mb-2">{{models[i]["series_name"]}}</h5>
                        <p class="font-italic text-muted mb-0 small">{{models[i]["title"]}}</p>
                        <h6 class="font-weight-bold my-2">${{models[i]["starting_msrp"]}}</h6>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                        </ul>
                        <a href='./detail?id={{models[i]["id"]}}'>
                            <input class="btn select-btn mt-4 pr-0 pl-0" value="Select">
                        </a>
                    </div>
                </div> 
                <div class="col-lg-7 car-img">
                    <img src="https://t4.ftcdn.net/jpg/02/73/81/13/360_F_273811399_Kcgq1GbPC8KAaajcELTxG1bQr5hVLpCW.jpg" alt="Car image"  class="bg">
                    <img src='{{models[i]["img_url"]}}' alt="Car image" width="200" class="ml-lg-5 order-1 order-lg-2">
                </div><!-- End -->
            </div>

        </li> 
        {% endfor %}

    </ul>
    <!-- </div>
</div> -->
<script>
    var list = document.querySelectorAll('.list-group-item');
    list.forEach(item=>{
        const img_default = item.querySelector('.bg');
        item.addEventListener("mouseover", function() {
            img_default.style.opacity = 1;
        });
        item.addEventListener("mouseout", function() {
            img_default.style.opacity = 0;
        });
    })

</script>

{% endif %}

<!-- {% for i in range(0, 3) %}
<div class="col-lg-4 mb-4 mb-lg-0">
    <div class="card">
        {% for j in range(0, models|length) %}
        {% if j % 3 == i %}
        {% set model = models[j] %}
        <img src='{{model["url"]}}'
            class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" /> 

        <div class="card-body">
            <h5 class="card-title">{{model['branch']}}</h5>
            <p class="card-text">
                {{model['price']}}
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %} -->