{% set role = request.blueprint.split('.')[0][:-3] %}

<!-- {% print role %} # customer -->
{% if role in ["customer","leader","manager"] %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="border-top: 2px solid #eee">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="a">
            <div class="navbar-nav">
                <a class="nav-link" href="{{request.path}}?type=sport">Sport</a>
                <a class="nav-link" href="{{request.path}}?type=sedan">Sedan</a>
                <a class="nav-link" href="{{request.path}}?type=coupe">Coupe</a>
                <!-- <a class="nav-link" href="{{request.path}}?type=sav">Electrified</a> -->
            </div>
        </div>
    </div>
</nav>
{% set models = data["models"] %}
<style>
    .container-fluid{
        padding: 0;
    }
    .list-group-item{
        background-color: rgb(242, 242, 242);
        transition: 0.5s;
    }
    .list-group-item:hover{
        background-color: white;
    }
    .select-btn{
        border-radius: 0px;
        background-color: #1c69d3;
        color: white;
        border: 1px solid #1c69d3;
        font-weight: bold;
    }
    .select-btn:hover{
        color: #1c69d3;
        background-color: white;
    }
    .car-img img{
        width: 100%;
    }
    .car-img{
        transition: background-image 1s;

    }
    .bg{
        width: 90%;
        height: 100%;
        position:absolute;
        left: 0;
        top:0;
        opacity: 0;
        transition: all 0.9s ease ;
        z-index: -1;
    }
    .list-group-item{
        padding: 0;
    }
</style>
<!-- <div class="row fluid-width">
    <div class="col-lg-12 mx-auto"> -->
        <!-- List group-->
    <ul class="">
            <!-- list group item-->
        {% for i in range(0, models|length) %}
        <li class="list-group-item">
            <!-- Custom content-->
            <div class="row">
                <div class="col-lg-5 pl-5 pt-4 pb-4 pr-4">
                    <div class="">
                        <h5 class="mt-0 font-weight-bold mb-2">{{models[i]["series_name"]}}</h5>
                        <p class="font-italic text-muted mb-0 small">{{models[i]["title"]}}</p>
                        <h6 class="font-weight-bold my-2">${{models[i]["starting_msrp"]}}</h6>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                        </ul>
                        <a href='/{{role}}/model/detail?id={{models[i]["id"]}}'>
                            <input class="btn select-btn mt-4 pr-0 pl-0" value="Select">
                        </a>
                    </div>
                </div> 
                <div class="col-lg-7 car-img">
                    <img src="https://t4.ftcdn.net/jpg/02/73/81/13/360_F_273811399_Kcgq1GbPC8KAaajcELTxG1bQr5hVLpCW.jpg" alt="Car image"  class="bg">
                    <img src='{{models[i]["img_url"]}}' alt="Car image" width="200" class="ml-lg-5 order-1 order-lg-2">
                </div><!-- End -->
            </div>

        </li> 
        {% endfor %}

    </ul>
    <!-- </div>
</div> -->
<script>
    var list = document.querySelectorAll('.list-group-item');
    list.forEach(item=>{
        const img_default = item.querySelector('.bg');
        item.addEventListener("mouseover", function() {
            img_default.style.opacity = 1;
        });
        item.addEventListener("mouseout", function() {
            img_default.style.opacity = 0;
        });
    })

</script>

{% endif %}
