{% set role = request.blueprint.split('.')[0][:-3] %}

<!-- {% print role %} # customer -->
{% if role in ["customer","leader","manager"] %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="border-top: 2px solid #eee">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="a">
            <div class="navbar-nav">
                <a class="nav-link" href="{{request.path}}?type=sport">Sport</a>
                <a class="nav-link" href="{{request.path}}?type=sedan">Sedan</a>
                <a class="nav-link" href="{{request.path}}?type=coupe">Coupe</a>
                <!-- <a class="nav-link" href="{{request.path}}?type=sav">Electrified</a> -->
            </div>
        </div>
    </div>
</nav>
{% set models = data["models"] %}

<div class="row">
    {% for i in range(0, 3) %}
    <div class="col-lg-4 mb-4 mb-lg-0">
        {% for j in range(0, models|length) %}
        {% if j % 3 == i %}
        {% set model = models[j] %}
        <a href="/{{role}}/model/detail?id={{model['id']}}" style="text-decoration: none;">
            <div class="card" style="background-color: white;">
                <img src="{{model['img_url']}}" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                <div class="card-body">
                    <h5 class="card-title">{{model['branch']}}</h5>
                    <p class="card-text">{{model['price']}}</p>
                    <p class="card-text">{{model['series_name']}}</p>
                    <!-- <a href="#!" class="btn btn-primary">Button</a> -->
                </div>
            </div>
        </a>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}