{% set role = request.blueprint.split('.')[0][:-3] %}
<!-- {% print role %} # customer -->
{% if role in ["customer","manager"] %}

<img src="https://www.bmwusa.com/content/dam/bmwusa/common/homepage/fmas/2022-11/desktop/BMW-YEE22-FMA-Homepage-Desktop-v2.jpg"
    class="rounded mx-auto d-block w-100">
<!-- Page Content -->
<div class="container">

    <hr class="mt-2 mb-5">

    <!-- {% if role == 'manager' %}
    <select class="form-select" aria-label="Default select example">
        <option selected>Trình bày mẫu xe</option>
        <option value="1">Top 4 hot trend</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    {% endif %} -->


    <div class="row text-center text-lg-start">
        {% for model in data["top"] %}
        <!-- {% print model %} -->
        <div class="col-lg-3 col-md-4 col-6">
            <a href="/{{role}}/model/detail?id={{model['id']}}" class="d-block mb-4 h-100" style="text-decoration: none">
                <div class="card">
                    <img src="{{model['img_url']}}" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Boat on Calm Water" />
                    <div class="card-body">
                        <h5 class="card-title">{{model['branch']}}</h5>
                        <p class="card-text">
                            {{model['year']}}
                        </p>
                        <!-- <a href="#!" class="btn btn-primary">Button</a> -->
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endif %}